legacy-peer-deps=false
save-exact=false
package-lock=true
engine-strict=true
fetch-retries=5
fetch-retry-factor=2
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
fetch-timeout=300000
maxsockets=3
audit=false
fund=false
